body {
    background-color: rgba(190, 141, 96, 0.418);
    width: 400px;
    margin: 0 auto;
    padding: 10px 20px 20px;

}
.nice_color {
    color:rgba(124, 75, 43, 0.863)
}
#rice {
    font-size: 30px;
    color:rgb(233, 162, 141)
}
div.solid_box {
    padding: 15px;
    border: rgb(230, 173, 218) solid 5px;
}